$ff: 'Roboto Condensed', sans-serif;
$mc: #303f9f;

// ============= Tag section ================

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $ff;
}

html {
    font-size: 16px;
}

input,
button {
    font-family: $ff;
}

// ============ End Tag Section ==============

// ============ Common Styles ================

.frm-ctrl {
    margin-bottom: 0.5em;
    label {
        margin-bottom: 0.25em;
        display: block;
        font-size: 1.2em;
    }
    input {
        padding: 0.5em;
        font-size: 1.1em;
        border: 1px solid #dedede;
        border-radius: 3px;
        width: 100%;
    }
}

button.primary {
    width: 100%;
    padding: 0.5em;
    background: $mc;
    border: none;
    color: #fff;
    font-size: 1.2em;
    border-radius: 3px;
    margin-top: 0.4em;
}

// ============ End Common Styles ==============

// ============ Login Page =====================

.login-screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    border: 1px solid #dedede;
    padding: 30px 20px;
    h1 {
        font-size: 2em;
        color: $mc;
        margin: 0;
        margin-bottom: 0.5em;
        text-align: center;
    }
}

// ============ End Login Page =====================
