body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.login-screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    span {
        color: red;
    }
}
